@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Secular One';
}

body {
    font-size: 100%;
    background-image:url('fundo.jpg') ;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 24px;
}

.conteudo-principal-imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 32px;
}

.conteudo-principal-subtitutlo {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 32px;
}

.rodapé {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 24px;
}


