@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Secular One';
}

body {
    font-size: 100%;
    background-image:url('fundo.jpg') ;
    background-size: cover;
    
}

nav {
    display: flex;
    gap: 32px;
    
}

.cabecalho-xp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 24px;
}

.conteudo-principal-imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 32px;
}

.conteudo-principal-subtitutlo {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 32px;
    padding-bottom: 24px;
}

.frase-antes-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.frase {
    font-family: 'Italianno', cursive;
    font-size: 26px;
}

.rodapé {
    border-top: 1px solid var(--row-light);
    margin-top: 20px;
    padding-top: 24px;
    text-align: center;
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

img {
    width: 24px;

}

.foto {
    width: 287px ;
}

.conteudo-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}

.empresa {
    font-size: 26px;
}






